<div class="flex items-center flex-col h-screen">
  <div class="md:w-[500px] w-[90vw] flex items-center rounded-none h-screen shadow-none">
    <div id="card" class="bg-card text-card-foreground w-full  rounded-none shadow-none border-none">
      <div id="card-header" class="flex flex-col space-y-1.5 pb-4">
        <div id="card-title" class="font-semibold leading-none tracking-tight text-3xl text-[var(--primary-01)]">Edit recipe</div>
        <div id="card-description" class="text-sm text-muted-foreground">Make changes to your recipe here. Click save when you're done.</div>
      </div>
      <div id="card-content" class="flex flex-col">
        {{#if error}}
            <p class="text-red-500 text-sm">{{error}}</p>
        {{/if}}
        <form action="/recipes/{{recipe._id}}" method="post" class="grid gap-4 py-4">
            <div class="flex flex-col space-y-1.5">
                <label for="recipe_name" class="text-[var(--primary-01)] font-semibold">Recipe name</label>
                <input id="recipe_name" name="recipe_name" value="{{recipe.recipe_name}}" type="text" placeholder="Enter recipe name" class="required flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-[var(--primary-03)] outline-[1px] active:outline-[var(--primary-01)] focus:border-[var(--primary-01)] outline-[var(--primary-01)]" required="true"/>
            </div>
            <div class="flex flex-col space-y-1.5">
                <label for="ingredients" class="text-[var(--primary-01)] font-semibold">Ingredients</label>
                <textarea id="ingredients" name="ingredients" class="required min-h-[150px] flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-[var(--primary-03)] outline-[1px] active:outline-[var(--primary-01)] focus:border-[var(--primary-01)] outline-[var(--primary-01)]" placeholder="List your ingredients... in Markdown format i.e \n - Salt" required="true">
                    {{recipe.ingredients}}
                </textarea>
            </div>
            <div class="flex flex-col space-y-1.5">
                <label for="directions" class="text-[var(--primary-01)] font-semibold">Directions</label>
                <textarea id="directions" name="directions" class="required min-h-[100px] flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm border-[var(--primary-03)] outline-[1px] active:outline-[var(--primary-01)] focus:border-[var(--primary-01)] outline-[var(--primary-01)]" placeholder="List your steps... in Markdown format i.e \n - Cut five onions" required="true">
                    {{recipe.directions}}
                </textarea>
            </div>
            <button type="submit" class="text-white inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-[40px] bg-[var(--primary-01)] font-semibold hover:bg-[var(--primary-01)]">
               Save changes
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

           