 <div class="h-screen flex flex-col items-center pt-[63px]">
      <div class="flex justify-center md:px-4 pb-8 items-center">
          <div id="card" class="bg-card text-card-foreground w-full  rounded-none shadow-none border-none w-full md:w-[70vw] rounded-none shadow-none border-none">
              <div id="card-header" class="flex flex-col space-y-1.5 pb-4">
                  <div id="card-title" class="font-semibold leading-none tracking-tight text-3xl text-[var(--primary-01)]">
                      {{#if recipe}}
                          <div class="flex justify-between">
                              <p>{{recipe.recipe_name}} Recipe</p>
                              {{#if user}}
                                <div class="flex">
                                    <a href="/edit-recipe/{{recipe._id}}" class="hover:bg-gray-200 hover:text-[var(--primary-01)] text-[var(--text-primary-04)] inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-5 [&_svg]:shrink-0 h-10 px-4 py-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg>
                                    </a>
                                    <form onsubmit="handleDelete(event, '/recipes/{{recipe._id}}');" class="cursor-pointer hover:bg-gray-200 hover:text-[var(--primary-01)] text-[var(--text-primary-04)] inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-5 [&_svg]:shrink-0 h-10 px-4 py-2 hover:bg-red-100 hover:text-red-500">
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                        </button>
                                    </form>
                                </div>
                              {{/if}}
                          </div>
                      {{else}}
                          <div class="animate-pulse rounded-md bg-primary/10 w-[60vw] h-[20px] rounded-full" ></div>
                      {{/if}}
                  </div>
                  <CardDescription>
                    {{#if recipe}}
                    <p class="text-sm">
                      A detailed recipe for {{recipe.recipe_name}}, follow the instructions to get best results
                    </p>
                    {{else}}
                        <div class="animate-pulse rounded-md bg-primary/10 w-[60vw] h-[20px] rounded-full" ></div>
                    {{/if}}
                  </CardDescription>
              </div>
              <CardContent class="p-0">
                  <div class="flex flex-col gap-4">
                    {{#if recipe}}
                      <div class="w-[100vw] md:mx-6 h-[300px] md:w-[60vw] md:p-1 md:rounded-[10px] aspect-w-16 aspect-h-10 bg-gray-100 overflow-hidden xl:aspect-w-16 xl:aspect-h-10 relative">
                          <img
                              src="{{recipe.image}}"
                              alt="thumbnail"
                              class="group-hover:scale-95 h-full w-full rounded-[10px] group-hover:rounded-2xl transform object-cover transition duration-200"
                          />
                      </div>
                    {{else}}
                      <div class="animate-pulse rounded-md bg-primary/10 h-[200px] w-[280px] rounded-xl  px-6" ></div>
                    {{/if}}
                    {{#if recipe}}
                          <div class="flex flex-col gap-2 px-6">
                              <p class="text-gray-500 text-xl">Ingredients</p>
                              <ul class="pl-4 grid gap-2 text-slate-900 dark:text-slate-200 list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')]">
                                  {{#each recipe.markedIngredients}}
                                    <li class="pl-2 text-sm text-gray-800">{{this}}</li>
                                  {{/each}}
                              </ul>
                          </div>
                    {{else}}
                          <div class="animate-pulse rounded-md bg-primary/10 h-[200px] w-[280px] rounded-xl  px-6" ></div>
                    {{/if}}
                    {{#if recipe}}
                        <div class="flex flex-col gap-2  px-6">
                            <p class="text-gray-500 text-lg">Directions / Steps</p>
                            <ul class="pl-4 grid gap-2 text-slate-900 dark:text-slate-200 list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')]">
                              {{#each recipe.markedDirections}}
                                <li class="pl-2 text-sm text-gray-800">{{this}}</li>
                              {{/each}}
                            </ul>
                        </div>
                    {{else}}
                        <div class="animate-pulse rounded-md bg-primary/10 h-[200px] w-[280px] rounded-xl  px-6" ></div>
                    {{/if}}
                  </div>
              </CardContent>
          </div>
      </div>
  </div>
<script> 
    function handleDelete(event, url) { 
        event.preventDefault(); 
        fetch(url, { method: 'DELETE' }).then(response => { 
            if (response.ok) { 
                window.location.href = '/recipes'; // Redirect after successful delete 
            } else { 
                window.location.href = '/recipes'; // Redirect after successful delete 
            } 
        }); 
    }
</script>